<h1>Editing status</h1>

<%= render 'form' %>

<ul class="button-group radius">
	<li><%= link_to 'Show Status', @status, class: "button success tiny" %></li>
	<li><%= link_to 'All Statuses', statuses_path, class: "button secondary tiny" %></li>
</ul>