// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.status {
	margin: 5px;
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f7f7f7;
	border-radius: 3px;
	border: 1px solid #000000;
}
.status.hover  {
	background-color: #FFFEF6;
	border: 1px solid #cccccc;
}
.status .admin {
	display: none;
}

.status.hover .admin {
	display: inline;
}

/* -----------------------------------------
   ZURB Footer
----------------------------------------- */
.zurb-footer-bottom {
  background: #333;
  padding: 24px 0 10px; }
  .zurb-footer-bottom .design-border {
    border-bottom: 1px solid #484848;
    padding-bottom: 5px;
    margin-bottom: 25px; }
  .zurb-footer-bottom a.zurb-logo {
    color: #858585;
    font-weight: normal;
    background: url(../img/icons/footer-icons.png) no-repeat 0 3px;
    padding: 25px 0 0 0;
    font-size: 0.88889rem;
    display: inline-block;
    width: 90px; }
    .zurb-footer-bottom a.zurb-logo:hover {
      opacity: 0.8; }
  .zurb-footer-bottom ul.zurb-links {
    margin: 0;
    display: inline-block; }
    .zurb-footer-bottom ul.zurb-links li {
      display: block;
      float: left;
      margin-left: 6px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.77778rem; }
      .zurb-footer-bottom ul.zurb-links li a {
        color: #666;
        padding: 3px 6px; }
        .zurb-footer-bottom ul.zurb-links li a:hover {
          color: #777; }
  .zurb-footer-bottom p.copyright {
    margin: 6px 0 0;
    font-size: 0.66667rem;
    color: #666; }
  .zurb-footer-bottom ul.home-social {
    display: block;
    float: right;
    margin-bottom: 8px; }
    .zurb-footer-bottom ul.home-social li {
      list-style: none;
      display: block;
      float: left;
      margin-left: 10px; }
      .zurb-footer-bottom ul.home-social li:first-child {
        margin-left: 0; }
      .zurb-footer-bottom ul.home-social li a {
        display: block;
        height: 50px;
        width: 50px;
        background: url(../img/icons/social.png) no-repeat center 0; }
        .zurb-footer-bottom ul.home-social li a:hover {
          opacity: 0.8; }
        .zurb-footer-bottom ul.home-social li a.twitter {
          background-position: center 0; }
        .zurb-footer-bottom ul.home-social li a.facebook {
          background-position: center -200px; }
        .zurb-footer-bottom ul.home-social li a.mail {
          background-position: center -400px; }
